:root {

    --color-principal: #7a2021; /* Rojo vino */
    --color-secundario-1: #6a1c1d; /* Terracota */
    --color-secundario-2: #f9eec5; /* Amarillo dorado */
    --color-secundario-3: #f8efce; /* Marrón oscuro */
    --color-texto: #000000; /* Gris oscuro */
    --color-fondo: rgba(245, 230, 203, 0.817); /* Gris claro */
    --color-enfasis: #edebeb; /* Rojo intenso */
    --color-texto2: #ffffff;
    --color-fondo-inv: #333;

    /* Modo oscurito*/

    --color-principal-d: #bf2a2c; 
    --color-secundario-1-d: #b2262b; 
    --color-secundario-2-d: #423939; 
    --color-secundario-3-d: #464545; 
    --color-texto-d: #f0d0d0; 
    --color-fondo-d: #333333; 
    --color-enfasis-d: #555555; 
    --color-texto2-d: #000000; 
    --color-fondo-inv-d: #bcbaba;

}
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    background-color: var(--color-fondo);
    
    font-size: 1rem;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.logo{
    max-width: 4.5rem;
    max-height: 4.5rem;
    border-radius: 2rem;
   
 
}
/* navbar */

.navbar {
    width: 100vw;
    background:radial-gradient( 90% 80% ,var(--color-secundario-1),var(--color-principal));
    color: var(--color-texto2);
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    
    
}
.search-container {
    display: flex;
    align-items: center;
}

input[type=text] {
    padding: 0.5rem;
    border: none;
    border-radius: 1rem 0rem 0rem 1rem ;
    margin-right: 0;
    font-size: 1.6rem;
    background-color:var(--color-secundario-2);
}

input[type=text]::placeholder {
    color:var(--color-principal);
    text-align: center;
    filter: opacity(30%);
}

button[type=submit] {
    padding: 1rem;
    border: none;
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: var(--color-principal-d);
    color: var(--color-texto2);
    cursor: pointer;
}

button[type=submit]:hover {
    background-color:var(--color-secundario-1-d);
}
.menu-button {
  
    background: none;
    border: none;
    font-size: 2.4rem;
    color: var(--color-texto2);
    cursor: pointer;
    margin-right: 4rem;
    transition:color 0.4s ease;
}
.menu-button:hover {
  color: #393737;
}

.menu {
    position: fixed; /* Cambia a position: fixed */
    top: 0;
    right: -25rem;
    bottom: 0; /* Agrega un fondo que cubra toda la página */
    width: 25rem;
    background:radial-gradient(90% 95%,var(--color-principal),black) ;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    transition: right 0.3s ease;
    z-index: 999;
}

.menu a img{
    border-radius: 2rem;
    max-width: 4.5rem;
    max-height: 4.5rem;
   position: relative;
   right: 1rem;
}
.menu a {
    color:var(--color-texto2);
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
#in{
    margin-bottom: 5rem;
}

.mode{
    background-color: transparent;
    text-decoration: none;
    color:var(--color-texto2);
    margin-right: 1rem;
    padding-top: 1rem;
    border: transparent;
}
.conta{
    margin-top: 1rem;
    font-size: 1.6rem;
}
.menu a:hover {
    color: rgb(188, 187, 187);
    text-decoration: underline;
}

.menu .menu-footer-text {
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Lo coloca en la parte inferior del menú */
    left: 0; /* Lo coloca en el lado izquierdo del menú */
    color: #999;
    font-size: 12px; /* Puedes ajustar el tamaño de fuente según tus preferencias */
    text-align: center; /* Para centrar el texto en el "footer" del menú */
    width: 100%; /* Asegura que ocupe todo el ancho del menú */
}

.menu.active {
    right: 0;
   
}

.content {
    margin-right: 0; /* Inicialmente sin margen a la derecha */
    transition: margin-right 0.3s ease;
}



/* Añade margen a la derecha cuando el menú está activo */
.menu.active + .content {
    margin-right: 25rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    z-index: 998; /* Z-index detrás del menú */
    opacity: 0; /* Inicialmente transparente */
    pointer-events: none; /* Evita eventos en el overlay */
    transition: opacity 0.3s; /* Efecto de transición de opacidad */
}
/* carousel*/
.carousel {
    max-height:50%;
}
.carousel .slide{
    height: 60vh;
}
.carousel-inner{
    height: 60vh;
    
}

    /*multimedia*/

 .multimedia{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
 }   
 iframe{
    width: 50%;
    height: 50%;
 }

/* estilo de las tarjetas */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.caja{ 
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tarje{
    flex-grow: 1;
    flex-basis: 200;
    height: 45rem;
    width: 30rem;
    margin: 1rem;
    padding-top: 15rem;
    transition: 300ms;
   display: block;
    overflow: hidden;
    
}

.prod:hover{
    filter: drop-shadow(0.5rem -0.4rem 1rem rgba(0, 0, 0, 0.429));
   

}
.prod{
    height: 30rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background: linear-gradient(to bottom, var(--color-principal), #000000);
    transition: 300ms;
    position: absolute;
    border: 2px solid rgb(29, 28, 28);
     
}
.img-prod{
    position: relative;
    bottom: 2rem;
    height: 35rem;
    width: 25rem;
    display: block;
    background-image:url(../img/Imagen.png);
    background-size: cover;
    margin-bottom: 25rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod1{
    position: relative;
    bottom: 2rem;
    height: 35rem;
    width: 25rem;
    display: block;
    background-image:url(../img/Imagen3.png);
    background-size: cover;
    margin-bottom: 25rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);
    

}
.img-prod2{
    position: relative;
    bottom: 2rem;
    height: 35rem;
    width: 25rem;
    display: block;
    background-image:url(../img/Imagen2.png);
    background-size: cover;
    margin-bottom: 25rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod3{
    position: relative;
    bottom: 2rem;
    height: 29rem;
    width: 22rem;
    display: block;
    background-image:url(../img/Imagen4.png);
    background-size: cover;
    margin-bottom: 25rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod4{
    position: relative;
    bottom: 2rem;
    height: 28rem;
    width: 25rem;
    display: block;
    background-image:url(../img/Imagen5.png);
    background-size: cover;
    margin-bottom: 25rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod5{
    position: relative;
    bottom: 2rem;
    height: 33rem;
    width: 25rem;
    display: block;
    background-image:url(../img/Imagen6.png);
    background-size: cover;
    margin-bottom: 25rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod6{
    position: relative;
    bottom: 2rem;
    height: 33rem;
    width: 20rem;
    display: block;
    background-image:url(../img/galanBlanco.png);
    background-size: cover;
    margin-bottom: 20rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod7{
    position: relative;
    bottom: 2rem;
    height: 33rem;
    width: 20rem;
    display: block;
    background-image:url(../img/galanTinto.png);
    background-size: cover;
    margin-bottom: 20rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod8{
    position: relative;
    bottom: 2rem;
    height: 33rem;
    width: 20rem;
    display: block;
    background-image:url(../img/galanTintoPatero.png);
    background-size: cover;
    margin-bottom: 20rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);

}
.img-prod9{
    position: relative;
    bottom: 2rem;
    height: 33rem;
    width: 20rem;
    display: block;
    background-image:url(../img/irinaBlancoDulce.png);
    background-size: cover;
    margin-bottom: 20rem;
    transition: 300ms;
    filter: drop-shadow(0.5rem -0.4rem 1rem black);
    margin-left: -9rem;

}
.contenido p{
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color-texto);
    margin-bottom: 0;
    height: 14rem;
}
.contenido h2{
    background-image: linear-gradient(to top,var(--color-secundario-2)85% ,var(--color-secundario-1));
    height: 6rem;
    color: var(--color-texto);
    
    
}
.contenido{
    height: 22rem;
    width: 30rem;
    background: linear-gradient(to bottom,var(--color-secundario-3),var(--color-secundario-3));
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 15rem;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
    
    

}
.contenido p{
    text-align: center;
    font-size: medium;
    display: flex;
    align-items: center;
}
.contenido h2{
    text-align: center;
    font-size: medium;
    padding-top: 2rem;
}
/*title*/

.title h2{
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: 100%; /* Mantendrá la altura del contenedor */
    object-fit: cover; /* Cubre todo el contenedor */
    display: block;
    position: relative;
    bottom: 1rem;
    color: black;
    text-align: center;
    
    font-size: 3.1rem;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

    
    

} 

.title {
    margin-top: 5rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    max-height: 15rem;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--color-principal) 10%, var(--color-secundario-1), var(--color-principal) 90%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* banner*/
.divid img{
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: 100%; /* Mantendrá la altura del contenedor */
    object-fit: cover; /* Cubre todo el contenedor */
    object-position: top; /* Alinea la parte superior de la imagen en el contenedor */
    display: block;
    border-top: 0.2rem solid  var(--color-principal);
    border-bottom: 0.2rem solid var(--color-principal);
    

} 
.divid{
    max-height:10rem;
    width: 100vw;

    overflow: hidden;
    border-top: 1rem solid  var(--color-enfasis);
    border-bottom: 1rem solid var(--color-enfasis);
   
}.divid1 img{
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: 100%; /* Mantendrá la altura del contenedor */
    object-fit: cover; /* Cubre todo el contenedor */
    object-position: top; /* Alinea la parte superior de la imagen en el contenedor */
    display: block;
    

} 
.divid1{
    max-height:10rem;
    width: 100vw;
    margin-top: 12rem;
    overflow: hidden;
    border-top: 1rem solid  var(--color-enfasis);
    border-bottom: 1rem solid var(--color-enfasis);
   
}
/* ws*/
/* Estilos base para el botón de WhatsApp */
.whatsapp-button {
    display: flex;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}
/*volver*/
#scrollToTopBtn {
    display: block;
    position: fixed;
    bottom: 9rem;
    right: 2.75rem;
    background-color: #333;
    color: #fff;
    font-size: medium;
    padding: 10px 18px;
    border: 2px solid rgb(120, 119, 119) ;
    border-radius: 14rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 998;
    
}

/* Estilos para el icono */


.whatsapp-button a {
    text-decoration: none;
}

.whatsapp-button img {
    width: 6rem; /* Tamaño del icono de WhatsApp */
    border: 4px solid #25d366; /* Borde con el color de WhatsApp */
    border-radius: 50%; /* Forma circular del botón */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: all 0.2s;
}

/* Efecto hover */
.whatsapp-button:hover img {
    background-color: #128c7e; /* Cambia el color de fondo al pasar el mouse */
    border-color: #128c7e;
    filter:opacity(30%)
}
/* footer*/
#facebook:hover{
    color: #3b5998;
}
#tiktok:hover{
    background: radial-gradient(circle at 30% 107%, #000000 0%, #ffffff 5%, #3608da 35%,#db1111 20%,#0535c5 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%,#d6249f 20%,#285AEB 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#linkedin:hover{
    color: #0e76a8 ;
}
.vertical-line {
    border-left: .7px solid #ffffff; /* Puedes ajustar el grosor y el color de la línea */
     /* Puedes ajustar la altura de la línea vertical */
    margin: 0 1px; /* Puedes ajustar el espacio a izquierda y derecha de la línea */
}
.vertical-line2 {
    border-left: .7px solid #ffffff; /* Puedes ajustar el grosor y el color de la línea */
    /* Puedes ajustar la altura de la línea vertical */
    margin: 0 1px; /* Puedes ajustar el espacio a izquierda y derecha de la línea*/ 
}
.social-icons a {
    color: #fff; /* Cambiar el color de los enlaces */
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color, 0.3s;
}

.social-icons i {
    margin-right: 10px;
}
.site-footer {
    display: flex;

    margin-top: 10rem;
    background-color: var(--color-fondo-inv); /* Cambiar el color de fondo */
    color: var(--color-texto2); /* Cambiar el color del texto */
    padding: 20px 0; /* Agregar espacio alrededor del contenido */
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-section {
    flex: 1 0 200px; /* Esto significa que cada sección puede crecer y encoger, pero su base es de 200px */
    margin: 10px;
}
.container-footer {
    max-width: 120rem; /* Limitar el ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

h3 {
    font-size: 20px; /* Ajustar el tamaño del encabezado */
    margin-bottom: 10px;
}

p {
    font-size: 16px; /* Ajustar el tamaño del texto */
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    margin-bottom: 10px;
}

.social-icons a {
    color: var(--color-texto2); /* Cambiar el color de los enlaces */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-icons i {
    margin-right: 10px;
}
.conocenos {
    position: absolute;
    right: 1rem;
    top: 30rem;
}
.custom-link {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Cambia el color del texto a blanco */
    padding: 12px 20px; /* Añade espacio interno para que el texto no esté demasiado cerca del borde */
    display: inline-block; /* Para que el enlace se comporte como un bloque en línea */
    font-size: 3rem;
    transition: 0.3s;
    border-radius: 3px;
    background-color: rgb(40, 100, 40);
}
.custom-link:hover {
    background-color: rgba(142, 214, 142, 0.481);
    transform: scale(1.1);
    color: black;
}
/*cel*/
@media screen and (max-width: 600px) {
    .html{overflow-x: hidden;}
    .carousel .slide{
        height: auto;
    }
    .carousel-inner{
        height: auto;
    }
  .whatsapp-button img {
    width: 4rem;}
    .menu-button {
  
        background: none;
        border: none;
        font-size: 2.4rem;
        color: var(--color-texto2);
        cursor: pointer;
        margin-right: 1rem;
    }
    #scrollToTopBtn {
        display: block;
        position: fixed;
        bottom: 8rem;
        right: 1.9rem;
        background-color: #333;
        color: #fff;
        font-size: medium;
        padding: 10px 18px;
        border: 2px solid rgb(120, 119, 119) ;
        border-radius: 14rem;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 998;
    }
    .vertical-line {
        display: none;
        border-left: .7px solid #ffffff; /* Puedes ajustar el grosor y el color de la línea */
         /* Puedes ajustar la altura de la línea vertical */
        margin: 0 1px; /* Puedes ajustar el espacio a izquierda y derecha de la línea */
    }
    .vertical-line2 {
        display: none;
        border-left: .7px solid #ffffff; /* Puedes ajustar el grosor y el color de la línea */
        /* Puedes ajustar la altura de la línea vertical */
        margin: 0 1px; /* Puedes ajustar el espacio a izquierda y derecha de la línea*/ 
    }
  }
